<style>
     .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    span, h3 {
        margin: 10px;
    }
</style>


<div class="container">

    <span>Olá, {{user_name}}</span>

    <span>Sua mentoria no dia {{mentoringDay}} às {{mentoringTime}}horas solicitada para o mentor {{mentor_name}} foi aceita.</span>

    <h3>Equipe | Mentoring</h3>
</div>
