<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    span, h3 {
        margin: 10px;
    }
</style>

<div class="container">
    <span>Olá, {{ name }}, você possui uma solicitação de mentoria.</span>

    <span>Para verificá-la, acesse a sua página inicial do mentoring</span>

    <br />
    <br />

    <h3>Equipe | <strong>Mentoring</strong></h3>
</div>